@use "forward" as fw;

.header-wrap {
  background-color: rgb(27, 27, 27);
  padding: 0px 20px;

  .header-content {
    width: 100%;
    max-width: 740px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

    > a {
      font-family: "Exo 2", sans-serif;
      font-size: 42px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 800;
      color: #f3f3f3;
    }

    #bars {
      cursor: pointer;
      font-size: 30px;
      padding: 10px;
    }
  }

  #menu {
    visibility: hidden;
    transition: right 0.3s ease-in;
    right: -300px;

    &.active {
      visibility: inherit;
      display: flex;
      flex-direction: column;
      right: 0px;
    }
  }

  .backDrop {
    visibility: hidden;
    transition: all 0.3s ease-in;

    &.active {
      visibility: inherit;
      z-index: 1;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);

      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  nav {
    z-index: 2;
    position: fixed;
    top: 0px;
    background-color: #f3f3f3;
    width: 300px;
    height: 100vh;
    text-align: right;

    #close {
      cursor: pointer;
      font-size: 38px;
      padding: 10px;
      margin: 32px 13px 0px;
    }

    ul {
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      text-align: left;
      display: flex;
      flex-direction: column;
      list-style: none;
      padding-left: 5px;
      position: relative;

      li {
        cursor: pointer;
        min-width: 100px;
        line-height: 50px;
        padding-left: 20px;
        background-color: #f3f3f3;
        border-bottom: 1px solid rgba(27, 27, 27, 0.315);

        /* DROP SUBMENU */
        &.drop-hover {
          position: relative;

          .fa-solid.fa-caret-down {
            color: black;
          }

          .drop-submenu {
            position: absolute;
            left: 120px;
            top: 0px;
            display: flex;
            flex-direction: column;
            background-color: #f3f3f3;
            width: 100%;
            overflow: hidden;
            height: 0px;
            transition: all 0.3s ease;

            a {
              border-bottom: 1px solid rgba(27, 27, 27, 0.315);
              padding-left: 10px;
              &:hover {
                background-color: #bd9655;
              }
            }
          }
        }

        &:hover .drop-submenu {
          height: 205px;
        }

        a {
          text-decoration: none;
          color: black;
        }

        &:hover {
          background-color: #bd9655;
        }
      }
    }

    .search {
      margin: 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 250px;
      padding: 10px 10px;
      background-color: white;
      border-radius: 30px;
      box-shadow: 0 8px 8px rgb(0, 0, 0, 0.2);
      transition: width 0.8s;

      & > input {
        padding-left: 10px;
        width: 200px;
        font-weight: 500;
        outline: none;
        color: rgba(0, 0, 0, 0.6);
        border: none;
        transition: width 0.8s;
        background: transparent;

        &::placeholder {
          color: rgba(0, 0, 0, 0.3);
        }
      }

      a .fa-solid {
        margin-left: -8px;
        color: #bd9655;
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 740px) {
  .header-wrap {
    padding: 0px 20px;

    .header-content {
      gap: 15px;
      width: 100%;
      max-width: 1300px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 20px 0px;

      #close,
      #bars {
        display: none;
      }
    }

    #menu {
      visibility: inherit;
      display: flex;

      &.active {
        flex-direction: row;
      }
    }

    .backDrop.active {
      display: none;
    }

    nav {
      position: inherit;
      justify-content: space-between;
      align-items: center;
      height: inherit;
      width: inherit;
      background-color: transparent;

      &::before {
        display: none;
      }

      ul {
        flex-direction: row;
        font-size: 14px;
        font-weight: 500;
        gap: 7px;
        padding: 0px;
        margin-top: inherit;

        li {
          cursor: pointer;
          min-width: inherit;
          text-align: center;
          line-height: initial;
          padding: 10px;
          border: none;
          background-color: transparent;
          border-bottom: 1px solid transparent;
          width: 90px;

          &.drop-hover {
            position: relative;

            .fa-solid.fa-caret-down {
              color: #f3f3f3;
            }

            .drop-submenu {
              position: absolute;
              top: 42px;
              left: 0px;
              display: flex;
              flex-direction: column;
              background-color: rgb(37, 37, 37);
              width: 90px;

              a {
                padding: 10px;
                border-bottom: 1px solid #bd9655;
                padding-left: 0px;
                font-size: 14px;

                &:hover {
                  background-color: #bd9655;
                }
              }
            }
          }
          &:hover .drop-submenu {
            height: 160px;
          }

          a {
            text-decoration: none;
            color: #f3f3f3;
          }

          &:hover {
            border-bottom: 1px solid #bd9655;
            background-color: #bd9655;
          }
        }
      }

      .search {
        order: 3;
        margin: 0px;
        width: 40px;

        &:hover {
          width: 250px;
        }

        & > input {
          width: 0px;
        }

        &:hover input {
          width: 200px;
        }
      }
    }
  }
}

/* main */
.main-content {
  @include fw.max-width;
  padding: 50px 30px;
  margin: auto;
  text-align: center;

  main {
    text-transform: uppercase;
    margin-bottom: 50px;
    h3 {
      font-size: 13px;
      font-weight: 500;
      margin-bottom: -15px;
    }
    h1 {
      font-size: 52px;
      font-weight: 800;
    }
  }
  .slide {
    width: 100%;
    height: 560px;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
    animation: slide 12s infinite;
  }

  @keyframes slide {
    0% {
      background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-15.jpg");
    }
    33.33% {
      background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-10.jpg");
    }
    66.66% {
      background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-1.jpg");
    }
    100% {
      background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-15.jpg");
    }
  }
}

/* articles */
.flex-grid {
  @include fw.max-width;
  @include fw.template-article;
  article {
    height: 560px;
    overflow: hidden;
    position: relative;
    .article-content {
      cursor: pointer;
      width: 100%;
      height: 100%;
      .post-img {
        z-index: 0;
        background-color: rgb(159, 159, 159);
      }
      .overlay {
        display: block;
        position: absolute;
        width: 100%;
        height: 110%;
        background-color: black;
        opacity: 0.3;
        transition: all 0.4s ease;
      }
      .title-content {
        z-index: 2;
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: flex;
        flex-direction: column;
        transition: transform 0.4s ease;
        .tag {
          a {
            padding: 5px 7px;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
            background-color: #bd9655;
            color: white;
            filter: contrast(1.2);
          }
        }
        h2 {
          padding: 5px 0px;
          font-size: 24px;
          color: white;
          font-weight: 800;
          text-transform: uppercase;
          &.row-col {
            font-size: 42px;
            @media screen and (max-width: 740px) {
              font-size: 24px;
            }
          }
        }
        ul {
          list-style: none;
          display: flex;
          gap: 10px;
          li {
            font-size: 12px;
            text-transform: uppercase;
            color: white;
          }
        }
      }

      &:hover .overlay {
        opacity: 0.6;
      }
      &:hover .title-content {
        transform: translateY(-40px);
      }
      .more {
        position: absolute;
        bottom: -20px;
        left: 20px;
        transition: transform 0.4s ease-out;
        a {
          color: #bd9655;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          text-decoration: none;

          &:after {
            content: ">>>";
            line-height: 20px;
            font-size: 16px;
            margin-left: 5px;
            display: block;
            width: 20px;
            height: 20px;
          }
        }
      }
      &:hover .more {
        transform: translateY(-50px);
      }
    }
  }

  > :nth-child(1) {
    grid-area: first;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-2.jpg");
    @include fw.bg-img;
  }
  > :nth-child(2) {
    grid-area: nth2;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-1.jpg");
    @include fw.bg-img;
  }
  > :nth-child(3) {
    grid-area: nth3;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-7.jpg");
    @include fw.bg-img;
  }
  > :nth-child(4) {
    grid-area: nth4;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-15.jpg");
    @include fw.bg-img;
  }
  > :nth-child(5) {
    grid-area: nth5;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-13.jpg");
    @include fw.bg-img;
  }
  > :nth-child(6) {
    grid-area: nth6;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-3.jpg");
    @include fw.bg-img;
  }
  > :nth-child(7) {
    grid-area: nth7;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-11.jpg");
    @include fw.bg-img;
  }
  > :nth-child(8) {
    grid-area: nth8;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-8.jpg");
    @include fw.bg-img;
  }
  > :nth-child(9) {
    grid-area: nth9;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-14.jpg");
    @include fw.bg-img;
  }
  > :nth-child(10) {
    grid-area: nth10;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-12.jpg");
    @include fw.bg-img;
  }
  > :nth-child(11) {
    grid-area: nth11;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-6.jpg");

    @include fw.bg-img;
  }
  > :nth-child(12) {
    grid-area: nth12;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-4.jpg");
    @include fw.bg-img;
  }
}

.pages {
  grid-area: nth13;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  div {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid rgba(189, 151, 85, 0.5);
    a {
      width: 100%;
      padding: 10px;
      text-decoration: none;
      text-align: center;
      color: rgb(33, 33, 33);
    }
    &.page-active {
      background-color: #bd9655;
      border: 1px solid transparent;
      a {
        color: rgb(255, 255, 255);
      }
    }
  }
}

/* footer */
footer {
  background-color: rgb(27, 27, 27);
  .footer-wrapper {
    @include fw.max-width;
    @include fw.template-footer;
    div {
      padding: 20px;
    }
    > :first-child {
      grid-area: about;

      p {
        margin-bottom: 10px;
      }
    }
    > :nth-child(2) {
      grid-area: instagram;
      > :last-child {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2px;
        div {
          background-color: #bd9655;
          width: 80px;
          height: 80px;
          border: 1px solid rgba(255, 255, 255, 0.813);
        }
      }
    }
    .more-tags {
      grid-area: stories;
      > :last-child {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        span {
          cursor: pointer;
          padding: 5px 7px;
          font-size: 11px;
          text-transform: uppercase;
          font-weight: 600;
          color: #bd9655;
          border: 2px solid #bd9655;
          &:hover {
            transition: all 0.3s ease-out;
            color: white;
            background-color: #bd9655;
          }
        }
      }
    }
    .medias {
      grid-area: medias;
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: center;
      a {
        img {
          width: 35px;
          height: 35px;
          border: 1px solid rgb(69, 69, 69);
          padding: 7px;
          border-radius: 50%;
          filter: grayscale(1) contrast(1);
          transition: all 0.3s ease-out;
          &:hover {
            transition: all 0.3s ease-out;
            filter: grayscale(0) contrast(1);
            border: 1px solid rgb(78, 78, 78);
          }
        }
      }
    }
    > :nth-child(5) {
      grid-area: developer;
      a {
        cursor: pointer;
        color: #bd9655;
      }
    }
  }
}
