@use "forward" as fw;

* {
  font-family: "Open Sans", sans-serif;
}
.header-content {
  background-color: rgb(27, 27, 27);

  header {
    @include fw.max-width;
    height: 80px;
    padding: 0px 30px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 70px;
    color: aliceblue;

    h1 {
      font-family: "Exo 2", sans-serif;
      font-size: 42px;
      text-transform: uppercase;
    }
    ul {
      font-size: 14px;
      letter-spacing: 2px;
      font-weight: 600;
      display: flex;
      gap: 20px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: inherit;
        }
      }
    }
  }
}

.main-content {
  @include fw.max-width;
  padding: 50px 30px;
  margin: auto;
  text-align: center;
  main {
    text-transform: uppercase;
    margin-bottom: 50px;
    h3 {
      font-size: 13px;
      font-weight: 500;
      margin-bottom: -15px;
    }
    h1 {
      font-size: 52px;
      font-weight: 800;
    }
  }
  .slide {
    height: 560px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
  }
}
.flex-grid {
  @include fw.max-width;
  @include fw.template-article;
  article {
    height: 560px;
    overflow: hidden;
    position: relative;
    .article-content {
      cursor: pointer;
      width: 100%;
      height: 100%;
      .post-img {
        z-index: 0;
        background-color: rgb(159, 159, 159);
      }
      .overlay {
        display: block;
        position: absolute;
        width: 100%;
        height: 110%;
        background-color: black;
        opacity: 0.3;
        transition: all 0.4s ease;
      }
      .title-content {
        z-index: 2;
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: flex;
        flex-direction: column;
        transition: transform 0.4s ease;
        .tag {
          a {
            padding: 5px 7px;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
            background-color: #bd9655;
            color: white;
            filter: contrast(1.2);
          }
        }
        h2 {
          padding: 5px 0px;
          font-size: 24px;
          color: white;
          font-weight: 800;
          text-transform: uppercase;
        }
        ul {
          list-style: none;
          display: flex;
          gap: 10px;
          li {
            font-size: 12px;
            text-transform: uppercase;
            color: white;
          }
        }
      }
      &:hover .overlay {
        opacity: 0.6;
      }
      &:hover .title-content {
        transform: translateY(-40px);
      }
      .more {
        position: absolute;
        bottom: -20px;
        left: 20px;
        transition: transform 0.4s ease-out;
        a {
          color: #bd9655;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          text-decoration: none;

          &:after {
            content: ">>>";
            line-height: 20px;
            font-size: 16px;
            margin-left: 5px;
            display: block;
            width: 20px;
            height: 20px;
          }
        }
      }
      &:hover .more {
        transform: translateY(-50px);
      }
    }
  }
  > :nth-child(1) {
    grid-area: first;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-2.jpg");
    @include fw.bg-img;
  }
  > :nth-child(2) {
    grid-area: nth2;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-1.jpg");
    @include fw.bg-img;
  }
  > :nth-child(3) {
    grid-area: nth3;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-7.jpg");
    @include fw.bg-img;
  }
  > :nth-child(4) {
    grid-area: nth4;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-15.jpg");
    @include fw.bg-img;
  }
  > :nth-child(5) {
    grid-area: nth5;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-13.jpg");
    @include fw.bg-img;
  }
  > :nth-child(6) {
    grid-area: nth6;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-3.jpg");
    @include fw.bg-img;
  }
  > :nth-child(7) {
    grid-area: nth7;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-11.jpg");
    @include fw.bg-img;
  }
  > :nth-child(8) {
    grid-area: nth8;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-8.jpg");
    @include fw.bg-img;
  }
  > :nth-child(9) {
    grid-area: nth9;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-14.jpg");
    @include fw.bg-img;
  }
  > :nth-child(10) {
    grid-area: nth10;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-12.jpg");
    @include fw.bg-img;
  }
  > :nth-child(11) {
    grid-area: nth11;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-6.jpg");

    @include fw.bg-img;
  }
  > :nth-child(12) {
    grid-area: nth12;
    background-image: url("https://matchthemes.com/demowp/mara/wp-content/uploads/2017/01/image-4.jpg");
    @include fw.bg-img;
  }
}
.pages {
  grid-area: nth13;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  div {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid rgba(189, 151, 85, 0.5);
    a {
      width: 100%;
      padding: 10px;
      text-decoration: none;
      text-align: center;
      color: rgb(33, 33, 33);
    }
    &.page-active {
      background-color: #bd9655;
      border: 1px solid transparent;
      a {
        color: rgb(255, 255, 255);
      }
    }
  }
}

/* footer */
footer {
  background-color: rgb(27, 27, 27);
  .footer-wrapper {
    @include fw.max-width;
    @include fw.template-footer;
    div {
      padding: 20px;
    }
    > :first-child {
      grid-area: about;

      p {
        margin-bottom: 10px;
      }
    }
    > :nth-child(2) {
      grid-area: instagram;
      > :last-child {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2px;
        div {
          background-color: #bd9655;
          width: 80px;
          height: 80px;
          border: 1px solid rgba(255, 255, 255, 0.813);
        }
      }
    }
    > :nth-child(3) {
      grid-area: stories;

      > :last-child {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        > span {
          cursor: pointer;
          padding: 5px 7px;
          font-size: 11px;
          text-transform: uppercase;
          font-weight: 600;
          border: 2px solid #bd9655;
        }
      }
    }
    > :nth-child(4) {
      grid-area: medias;
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: center;
      a {
        img {
          width: 35px;
          height: 35px;
          border: 1px solid rgb(69, 69, 69);
          padding: 7px;
          border-radius: 50%;
          filter: grayscale(1) contrast(1);
          transition: all 0.3s ease-out;
          &:hover {
            transition: all 0.3s ease-out;
            filter: grayscale(0) contrast(1);
            border: 1px solid rgb(78, 78, 78);
          }
        }
      }
    }
    > :nth-child(5) {
      grid-area: developer;
      a {
        cursor: pointer;
        color: #bd9655;
      }
    }
  }
}
